<div class="home-container">
  <div class="home-content">
    <h2>Willkommen bei der Lern-App PampelCards.</h2>
    <hr class="line">
    <p>
      Hier kannst du, nach Kategorien georndnet, 
      mit deinen Flashcards lernen, neue Karten erstellen, usw.
    </p><br>
    <h3>Kategorien:</h3>
    <ul>
    {{#each categories }}
      <li class="categories"><a href="/card/categories/{{ this }}">{{ this }}</a></li>
    {{/each }}
    </ul>
  </div>
  <div class="home-content">
    <a id="playNow" href="/card"><img id="flashcard" src="/images/icons/joker.svg" alt="Flashcard illustration"><br>Jetzt loslegen</a>
  </div>
  <div class="home-content">
    <h1 id="home-question">
      {{ randomCard.question }}
    </h1>
    <h4>
      {{ randomCard.description }}
    </h4>
    <hr class="line">
    <p class="answer-md">
      {{{ randomCard.sanitizedHtml }}}
    </p>
  </div>
</div>
