<div class="home-container">
  <div class="home-content">
    <h2>Willkommen bei der Lern-App PampelCards.</h2>
    <hr class="line">
    <p>
      Hier kannst du, nach Kategorien georndnet, 
      mit deinen Flashcards lernen, neue Karten erstellen, usw.
    </p><br>
    {{#if categories }}
    <h3> Deine Kategorien:</h3>
    <ul>
      <li class="categories"><a href="/card/list/all">Alle</a></li>
    {{#each categories }}
      <li class="categories"><a href="/card/list/{{ this }}">{{ this }}</a></li>
    {{/each }}
    </ul>
    {{/if }}
    {{#if allCategories }}
    <hr class="line">
    <h3> Alle Kategorien:</h3>
    <ul>
      <li class="categories"><a href="/card/categories/all">Alle</a></li>
    {{#each allCategories }}
      <li class="categories"><a href="/card/categories/{{ this }}">{{ this }}</a></li>
    {{/each }}
    </ul>
    {{/if }}
  </div>
  <div class="home-content">
    <a id="playNow" href="{{ link }}"><img id="flashcard" src="/images/icons/joker.svg" alt="FlashcardPic"><br>Jetzt loslegen</a>
  </div>
  <div class="home-content">
    <h1 id="home-question">
      {{ randomCard.question }}
    </h1>
    <h4>
      {{ randomCard.description }}
    </h4>
    <hr class="line">
    <p class="answer-md">
      {{{ randomCard.sanitizedHtml }}}
    </p>
  </div>
</div>
