  <h1 class="mb-4">Neue Karte</h1>
  <span class="errorMessage">{{ errorMessage }}</span>
<div>
  <form action="/card" method="POST">
    <div class="">
    <label for="category">Kategorie</label>
    <input type="text" name="category" id="category" class="" list="categories" required>
    <datalist id="categories">
      {{#each categories}}
      <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </datalist>
  </div>
    <div class="">
    <label for="question">Frage</label>
    <input type="text" name="question" id="question" class="" value="{{ question }}" required>
  </div>
  <div class="">
    <label for="description">Beschreibung</label>
    <input type="text"  name="description" id="description" class="" value="{{ description }}">
  </div>
  <div class="">
    <label for="markdown">Antwort (md)</label>
    <textarea  name="answerMd" id="markdown">{{ answerMd }}</textarea>
  </div>

  <a href="/" class="btn btn-secondary">Abbruch</a>
  <button type="submit" class="btn btn-success saveAndGo">Speichern</button>
  </form>
</div>
