 <div class="home-container">
  <div class="cardInput-container">
    <div>
      <span class="errorMessage">{{ errorMessage }}</span>
    </div>
    <div class="cardFormContainer">
      <form class="cardForm" action="/card" method="POST">
        <div class="cardInputContainer">
          <label class="cardLabel" for="category">Kategorie</label><br>
          <input class="cardInput" type="text" name="category" id="category" class="" list="categories" required>
          <datalist id="categories">
            {{#each categories}}
            <option value="{{ this }}">{{ this }}</option>
            {{/each}}
          </datalist>
        </div>
        <div class="cardInputContainer">
          <label class="cardLabel" for="question">Frage</label><br>
          <input class="cardInput" type="text" name="question" id="question" class="" value="{{ question }}" required>
        </div>
        <div class="cardInputContainer">
          <label class="cardLabel" for="description">Beschreibung</label><br>
          <input class="cardInput" type="text"  name="description" id="description" class="" value="{{ description }}">
        </div>
          <div class="cardInputContainer">
            <label class="cardLabel" for="markdown">Antwort (md)</label><br>
            <textarea class="textarea" name="answerMd" id="markdown">{{ answerMd }}</textarea>
          </div>
        <div class="button-footer">
        </div>
        <div>
          <a href="/" class="button btn-blue">Abbruch</a>
          <button type="submit" class="button btn-green saveAndGo">Speichern</button>
        </div>
      </form>
    </div>
  </div>
</div>
