<div class="home-container">
  <div class="card-container">
    <div id="question-container" class="task-container">
      <h3 id="introQuest">Was weisst du über ...</h3>
      <div class="random-question">
        <hr class="card-line">
        <h1 id="card-question">{{ randomCard.question }}</h1>  
        <hr class="card-line">
        <span id="card-category">Kategorie: {{ cat }}</span>
      </div>
      <div>
        <div class="button-footer">
          <a class="button btn-green" href="/card/categories/{{ cat }}">okay, weiter</a>
          <button class="button btn-blue show-answer">Zeig erstmal</button>
        </div>
      </div>
    </div>
    <div id="answer-container" class="task-container" hidden>
      <h3 class="">{{ randomCard.description }}</h3>
      {{{ randomCard.sanitizedHtml }}}
      <div class="button-footer">
        <a class="button btn-green" href="/card/newCard">Karte</a>
        <a class="button btn-blue" href="/card/editCard/{{randomCard._id}}">Edit</a>
           {{#if cat }}
        <a class="button btn-green" href="/card/categories/{{ cat }}">Okay</a>
           {{else}}
        <a class="button btn-green" href="/card">Okay</a>
           {{/if }}
        <a class="button btn-red" href="/card">Nope</a>
      </div>
    </div>
  </div>
</div>